# Python
# ------------------------------------------------------------------------------
python-decouple==3.6
python-dateutil==2.7.3
psycopg2-binary==2.9.5

# Django
# ------------------------------------------------------------------------------
Django==4.0.5

# Web server
# ------------------------------------------------------------------------------
gunicorn==20.1.0
