{% if id == "cmb_aopekbn" %}
    <select tabindex="{{ tabIndex }}" title="{{Title}}" class="{{ class }}" name="cmb_aopekbn" id="cmb_aopekbn" {% if gSetField == "cmb_aopekbn" %}autofocus{% endif %}>
        <option value="0" {% if cmb_aopekbn == "0" %}selected{% endif %}>船社</option>
        <option value="1" {% if cmb_aopekbn == "1" %}selected{% endif %}>混載業者</option>
    </select>

{% elif id == "cmb_anscacflg" %}
    <select tabindex="{{ tabIndex }}" title="{{Title}}" class="{{ class }}" name="cmb_anscacflg" id="cmb_anscacflg" {% if gSetField == "cmb_anscacflg" %}autofocus{% endif %}>
        <option value="0" {% if cmb_anscacflg == "0" %}selected{% endif %}>編集時にＳＣＡＣコード付加する</option>
        <option value="1" {% if cmb_anscacflg == "1" %}selected{% endif %}>編集時にＳＣＡＣコード付加しない</option>
    </select>
{% elif id == "cmb_aarearkbn" %}
    <select tabindex="{{ tabIndex }}" title="{{Title}}" class="{{ class }}" name="cmb_aarearkbn" id="cmb_aarearkbn" {% if gSetField == "cmb_aarearkbn" %}autofocus{% endif %}>
        <option value="0" {% if cmb_aarearkbn == "0" %}selected{% endif %}>利用する</option>
        <option value="1" {% if cmb_aarearkbn == "1" %}selected{% endif %}>利用しない</option>
    </select>
{% elif id == "cmb_ansendflg" %}
    <select tabindex="{{ tabIndex }}" title="{{Title}}" class="{{ class }}" name="cmb_ansendflg" id="cmb_ansendflg" {% if gSetField == "cmb_ansendflg" %}autofocus{% endif %}>
        <option value="0" {% if cmb_ansendflg == "0" %}selected{% endif %}>ＮＡＣＣＳ送信対象</option>
        <option value="1" {% if cmb_ansendflg == "1" %}selected{% endif %}>ＮＡＣＣＳ送信対象外</option>
{% elif id == "cmb_afksankbn" %}
    <select tabindex="{{ tabIndex }}" class="{{ CssClass }} w-100" name="cmb_afksankbn" id="cmb_afksankbn"
            {% if gSetField == "cmb_afksankbn" %}autofocus{% endif %}>
        <option value="0" {% if cmb_afksankbn == "0" %}selected{% endif %}>搬入日起算</option>
        <option value="1" {% if cmb_afksankbn == "1" %}selected{% endif %}>搬入日翌日起算</option>
    </select>
{% elif id == "cmb_afcalc" %}
    <select tabindex="{{ tabIndex }}" class="{{ CssClass }} w-100" name="cmb_afcalc" id="cmb_afcalc"
            {% if gSetField == "cmb_afcalc" %}autofocus{% endif %}>
        <option value="0" {% if cmb_afcalc == "0" %}selected{% endif %}>日祝除く</option>
        <option value="1" {% if cmb_afcalc == "1" %}selected{% endif %}>土日祝除く</option>
        <option value="2" {% if cmb_afcalc == "2" %}selected{% endif %}>全て含む</option>
    </select>
{% elif id == "cmb_asyubtkbn" %}
<select tabindex="{{ tabIndex }}" class="{{ CssClass }} w-100" name="cmb_afcalc" id="cmb_afcalc">
    <option value="0" {% if cmb_asyubtkbn == "0" %}selected{% endif %}>重量表示 </option>
    <option value="1" {% if cmb_asyubtkbn == "1" %}selected{% endif %}>容積表示 </option>
</select>
{% endif %}