<div id="modalInfo" class="modal {% if MsgDsp %} d-none {% endif %}" >
    <div class="form-inline">
        <div class="modal-content">
            <div class="modal-header">
                <p id="modalTitle">{{MsgDsp.title}}</p>
            </div>
            <div class="modal-body">
                <p id="modalBody">{{MsgDsp.msg}}</p>
            </div>
            <div class="modal-footer d-flex">
                {% include "includes/button.html" with name="action" id="btnClose" class="btn btn-primary" Text="はい" %}
            </div>
        </div>
    </div>
</div>