{% load core_tags %}
<input
    type="text"
    {% if gSetField == id %}autofocus{% endif %}
    name="{{ id }}"
    id="{{ id }}"
    value="{{ id|id2contextvalue:request }}"
    maxlength="{{ MaxLength }}"
    class="{{ CssClass }}"
    {% if ReadOnly %}
    readonly="{{ ReadOnly }}"
    {% endif %}
    {% if Title %}
    title="{{ Title }}"
    {% endif %}
    {% if disabled %}
    disabled="True"
    {% endif %}
    {% if Change %}
    onkeyup=handle_event(["{{ id }}"],"Change")
    {% endif %}
    {% if LostFocus %}
    onchange=handle_event(["{{ id }}"],"LostFocus")
    {% endif %}
>