 .control-input {
    padding: 12px;
    gap: 10px;
    width: 240px;
    height: 44px;
    font-size:14px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    margin-left: 27px;
    color: black;
 }