{% extends 'base.html' %}
{% load static %}

{% block title %}オペレータコード登録{% endblock title %}

{% block main %}
    <form class="" id="f_cfsc0300" method="post">
        {% csrf_token %}
        <div class="card">
            <div class="form-inline">
                <div class="form-group form-group-seach">
                    <label for="txt_aopecd" class="mr-3" tabindex="3">オペレータコード <span
                            class="required">*</span></label>
                    {% include "includes/textbox.html" with class="form-control" id="txt_aopecd" name="txt_aopecd" tabIndex=4 width="80" MaxLength=4 Change="True" Title="必須入力・Operator Code" %}
                </div>
                {% include "includes/button.html" with name="action" id="cmd_search" class="btn btn-primary btn-search" TabIndex=5 htmlText='<i class="fa fa-search"></i> 検索' %}
            </div>
        </div>

        <div class="card">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label" for="txt_aopenm" tabindex="7">オペレータ名称 <span
                                    class="required">*</span></label>
                            <div class="col-12">
                                {% include "includes/textbox.html" with class="form-control" id="txt_aopenm" name="txt_aopenm" MaxLength=25 Title="必須入力" tabIndex=8 %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-sm-12">
                        <div class="form-group">
                            <label class="control-label" for="cmb_ansendflg" tabindex="9">ＮＡＣＣＳ送信識別
                                <span class="required">*</span></label>
                            <div class="col-12">
                                {% include 'includes/dropdownlist.html' with id="cmb_ansendflg" class="form-control" tabIndex=10 Title="必須入力" %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="txt_ascaccd" tabindex="11">ＳＣＡＣコード</label>
                            <div class="col-12">
                                {% include "includes/textbox.html" with class="form-control" id="txt_ascaccd" name="txt_ascaccd" MaxLength=4 tabIndex=12 %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-12">
                        <div class="form-group">
                            <label class="control-label" for="cmb_anscacflg" tabindex="13">貨物管理番号編集識別
                                <span class="required">*</span></label>
                            <div class="col-12">
                                {% include 'includes/dropdownlist.html' with id="cmb_anscacflg" class="form-control" tabIndex=14 Title="必須入力・貨物管理番号生成時にＣＴ Ｂ／Ｌ Ｎｏ．の頭にＳＣＡＣコード付加するかの識別" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="control-label col-sm-12" for="txt_adelchr0"
                                   tabindex="15">削除文字／桁数</label>
                            <div class="col-lg-9 col-sm-12 row">
                                <div class="col-lg-4 col-sm-8 d-flex">
                                    {% include "includes/textbox.html" with class="form-control col-9 mr-2" id="txt_adelchr0" name="txt_adelchr0" MaxLength=6 tabIndex=16 LostFocus="True" Title="貨物管理番号生成時にＣＴ Ｂ／Ｌ Ｎｏ．の削除する文字を指定する" %}
                                    {% include "includes/textbox.html" with class="form-control col-3" id="txt_adellen0" name="txt_adellen0" MaxLength=1 tabIndex=17 %}
                                </div>
                                <div class="col-lg-4 col-sm-8 d-flex">
                                    {% include "includes/textbox.html" with class="form-control col-9 mr-2" id="txt_adelchr1" name="txt_adelchr1" MaxLength=6 tabIndex=18 LostFocus="True" Title="貨物管理番号生成時にＣＴ Ｂ／Ｌ Ｎｏ．の削除する文字を指定する" %}
                                    {% include "includes/textbox.html" with class="form-control col-3" id="txt_adellen1" name="txt_adellen1" MaxLength=1 tabIndex=19 %}
                                </div>
                                <div class="col-lg-4 col-sm-8 d-flex">
                                    {% include "includes/textbox.html" with class="form-control col-9 mr-2" id="txt_adelchr2" name="txt_adelchr2" MaxLength=6 tabIndex=20 LostFocus="True" Title="貨物管理番号生成時にＣＴ Ｂ／Ｌ Ｎｏ．の削除する文字を指定する" %}
                                    {% include "includes/textbox.html" with class="form-control col-3" id="txt_adellen2" name="txt_adellen2" MaxLength=1 tabIndex=21 %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-sm-5" for="cmb_aopekbn" tabindex="22">オペレータ区分 <span
                                    class="required">*</span></label>
                            <div class="col-12">
                                {% include 'includes/dropdownlist.html' with id="cmb_aopekbn" class="form-control" tabIndex=23 Title="必須入力" tabIndex=23 %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-sm-12" for="txt_iminton" tabindex="24">ミニマム屯数 <span
                                    class="required">*</span></label>
                            <div class="col-12">
                                {% include "includes/textbox.html" with class="form-control" id="txt_iminton" name="txt_iminton" MaxLength=3 Title="必須入力" tabIndex=25 %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-sm-12" for="cmb_aarearkbn" tabindex="26">エリアコード利用区分
                                <span class="required">*</span></label>
                            <div class="col-12">
                                {% include 'includes/dropdownlist.html' with id="cmb_aarearkbn" class="form-control" tabIndex=27 Title="必須入力" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row btn-footer">
                    <div class="col-12 d-flex">
                        {% include "includes/button.html" with name="action" id="cmd_entry" class="btn btn-primary " Text="登録" tabIndex=28 IsEnable=cmd_entry_enable %}
                        {% include "includes/button.html" with name="action" id="cmd_change" class="btn btn-primary" Text="変更" tabIndex=29 IsEnable=cmd_change_enable %}
                        {% include "includes/button.html" with name="action" id="cmd_delete" class="btn btn-primary" Text="削除" tabIndex=30 IsEnable=cmd_delete_enable %}
                        {% include "includes/button.html" with name="action" id="cmd_cancel" class="btn btn-primary" Text="取消" tabIndex=31 %}
                    </div>
                </div>
            </div>
        </div>

    </form>
{% endblock main %}

{% block js %}

{% endblock js %}