{% extends 'base.html' %}
{% load static %}

{% block title %}海貨業者コード登録{% endblock title %}

{% block main %}
<form id="f_cfsc2900" method="post">
    {% csrf_token %}
    <div class="title_content">
        <div class="search_about">
            <div class="search_item search_register calendar">
                <div class="item_search_title title_register calendar_title">
                    <h3>年月 <span style="color:red">* </span></h3>
                </div>
                <div class="search_input input_small input_register calendar_form">
                    {% include "includes/textbox.html" with id="txt_ayear" CssClass="form-control" MaxLength=8 TextChange="True" %}
                    <label>年</label>
                </div>
                 <div class="search_input input_small input_register calendar_form">
                    {% include "includes/textbox.html" with id="" CssClass="form-control" MaxLength=8 TextChange="True" %}
                    <label>月</label>
                </div>
                <div class="content_button button_register calendar_button">
                    <img src="{% static 'images/search.svg' %}" alt="">
                    {% include "includes/button.html" with name="action" id="cmd_search" CssClass="btn-search" Text="検索" %}
                </div>
            </div>
        </div>
        <!--form layout-->
            <div class="form-container">
            <div class="form_about form_calendar">
                <table class="calendar_about">
                    <tr class="calendar_table_row calendar_alphabet">
                        <td>
                            <label>日</label>
                        </td>
                        <td>
                            <label>月</label>
                        </td>
                        <td>
                            <label>火</label>
                        </td>
                        <td>
                            <label>水</label>
                        </td>
                        <td>
                            <label>木</label>
                        </td>
                        <td>
                            <label>金</label>
                        </td>
                        <td>
                            <label>土</label>
                        </td>
                    </tr>
                    <tr class="calendar_table_row calendar_number">
                        <td class="first_weed">
                            <label>21</label>
                        </td>
                        <td>
                            <label>22</label>
                        </td>
                        <td>
                            <label>23</label>
                        </td>
                        <td>
                            <label>24</label>
                        </td>
                        <td>
                            <label>25</label>
                        </td>
                        <td>
                            <label>26</label>
                        </td>
                        <td class="last_weed">
                            <label>27</label>
                        </td>
                    </tr>
                    <tr class="calendar_table_row calendar_number">
                        <td class="first_weed">
                            <label>21</label>
                        </td>
                        <td>
                            <label>22</label>
                        </td>
                        <td>
                            <label>23</label>
                        </td>
                        <td>
                            <label>24</label>
                        </td>
                        <td>
                            <label>25</label>
                        </td>
                        <td>
                            <label>26</label>
                        </td>
                        <td class="last_weed">
                            <label>27</label>
                        </td>
                    </tr>
                    <tr class="calendar_table_row calendar_number">
                        <td class="first_weed">
                            <label>21</label>
                        </td>
                        <td>
                            <label>22</label>
                        </td>
                        <td>
                            <label>23</label>
                        </td>
                        <td>
                            <label>24</label>
                        </td>
                        <td>
                            <label>25</label>
                        </td>
                        <td>
                            <label>26</label>
                        </td>
                        <td class="last_weed">
                            <label>27</label>
                        </td>
                    </tr>
                    <tr class="calendar_table_row calendar_number">
                        <td class="first_weed">
                            <label>21</label>
                        </td>
                        <td>
                            <label>22</label>
                        </td>
                        <td>
                            <label>23</label>
                        </td>
                        <td>
                            <label>24</label>
                        </td>
                        <td>
                            <label>25</label>
                        </td>
                        <td>
                            <label>26</label>
                        </td>
                        <td class="last_weed">
                            <label>27</label>
                        </td>
                    </tr>
                </table>
                 <div class="control_button">
                    {% include "includes/button.html" with name="action" id="cmd_entry" CssClass="btn-register" Text="登録" IsEnable=cmd_entry_enable %}
                    {% include "includes/button.html" with name="action" id="cmd_change" CssClass="btn-register" Text="変更" IsEnable=cmd_change_enable %}
                    {% include "includes/button.html" with name="action" id="cmd_delete" CssClass="btn-register" Text="削除" IsEnable=cmd_delete_enable %}
                    {% include "includes/button.html" with name="action" id="cmd_cancel" CssClass="btn-register" Text="取消" %}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock main %}

{% block js %}

{% endblock js %}