{% extends 'base.html' %}
{% load static %}

{% block title %}船社ポートコード登録{% endblock title %}

{% block main %}
<form class="" id="f_cfsc1100" method="post">
    {% csrf_token %}
    <div class="card">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-12 d-flex">
                    <div class="form-group form-group-seach">
                        <label for="txt_aopecd" class="mr-3" tabIndex=4>オペレータコード<span
                                class="required">*</span></label>
                        {% include "includes/textbox.html" with class="form-control" id="txt_aopecd" name="txt_aopecd" tabIndex=4 width="123" MaxLength=4 Change="True" Title="必須入力・Operator Code" %}
                    </div>
                    <div class="form-group form-group-seach">
                        <label for="txt_asportcd" tabIndex=6>船社ポートコード<span
                                class="required">*</span></label>
                        {% include "includes/textbox.html" with class="form-control" id="txt_asportcd" name="txt_asportcd" width="123" tabIndex=6 MaxLength=5 Change="True" Title="必須入力" %}
                    </div>
                    <div class="pt-4 mt-3">
                        {% include "includes/button.html" with name="action" id="cmd_search" class="btn btn-primary btn-search" TabIndex=7 htmlText='<i class="fa fa-search"></i> 検索' %}
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="card">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="txt_aportcd"
                               tabindex="15">ポートコード<span class="required">*</span></label>
                        <div class="col-lg-9 col-sm-12 row">
                            <div class="col-lg-4 col-sm-8 d-flex">
                                {% include "includes/textbox.html" with class="form-control col-3 mr-2" id="txt_aportcd" width="100" name="txt_aportcd" MaxLength=5 tabIndex=10 LostFocus="True" %}
                                {% include "includes/textbox.html" with class="form-control col-9" id="lbl_aportnm" name="lbl_aportnm" ReadOnly="True" tabIndex=11 %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row btn-footer">
                <div class="col-12 d-flex">
                    {% include "includes/button.html" with name="action" id="cmd_entry" class="btn btn-primary " Text="登録" tabIndex=12 IsEnable=cmd_entry_enable %}
                    {% include "includes/button.html" with name="action" id="cmd_change" class="btn btn-primary" Text="変更" tabIndex=13 IsEnable=cmd_change_enable %}
                    {% include "includes/button.html" with name="action" id="cmd_delete" class="btn btn-primary" Text="削除" tabIndex=14 IsEnable=cmd_delete_enable %}
                    {% include "includes/button.html" with name="action" id="cmd_cancel" class="btn btn-primary" Text="取消" tabIndex=15 %}
                </div>
            </div>
        </div>
    </div>

</form>
{% endblock main %}

{% block js %}

{% endblock js %}