{% extends 'base.html' %}
{% load static %}

{% block title %}申告種別変換コード登録{% endblock title %}

{% block main %}
<form id="f_cfsc2100" method="post" action="">
    {% csrf_token %}
    <div class="card">
        <div class="form-inline">
            <div class="form-group form-group-seach">
                <label for="txt_anacgymcd" class="mr-3" tabindex="3">ＮＡＣＣＳ業務コード<span
                        class="required">*</span></label>
                {% include "includes/textbox.html" with class="form-control" id="txt_anacgymcd" name="txt_anacgymcd" tabIndex=4 width="80" MaxLength=5 Change="True" Title="必須入力・ＮＡＣＣＳ業務コード" %}
            </div>
            {% include "includes/button.html" with name="action" id="cmd_search" class="btn btn-primary btn-search" tabIndex=5 htmlText='<i class="fa fa-search"></i> 検索' %}
        </div>
    </div>
    <div class="card">
        <div class="form-inline">
            <div class="row">
                <div class="col-12">
                    <div class="form-group row pl-4">
                        <div class="col-6">
                            <label class="justify-content-start" for="txt_aprmsybt" tabindex="7">申告種別コード<span
                    class="required">*</span></label>
                        </div>
                        <div class="col-6">
                            {% include "includes/textbox.html" with class="form-control" id="txt_aprmsybt" name="txt_aprmsybt" MaxLength=3 Change="True" tabIndex=8 %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-inline">
            <div class="row">
                <div class="col-12">
                    <div class="form-group row pl-4">
                        <div class="col-6">
                           <label class="justify-content-start" for="txt_aprmsybtnm" tabindex="9">申告種別名称<span
                            class="required">*</span>
                        </label>
                        </div>
                        <div class="col-6 pl-2">
                            {% include "includes/textbox.html" with class="form-control" id="txt_aprmsybtnm" name="txt_aprmsybtnm" MaxLength=25 Title="必須入力" tabIndex=10 %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-inline justify-content-end">
            <div class="row btn-footer">
                <div class="col-12 d-flex ">
                {% include "includes/button.html" with name="action" id="cmd_entry" class="btn btn-primary " Text="登録" tabIndex=11 IsEnable=cmd_entry_enable %}
                {% include "includes/button.html" with name="action" id="cmd_change" class="btn btn-primary" Text="変更" tabIndex=12 IsEnable=cmd_change_enable %}
                {% include "includes/button.html" with name="action" id="cmd_delete" class="btn btn-primary" Text="削除" tabIndex=13 IsEnable=cmd_delete_enable %}
                {% include "includes/button.html" with name="action" id="cmd_cancel" class="btn btn-primary" Text="取消" tabIndex=14 %}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock main %}
