{% extends 'base.html' %}
{% load static %}

{% block title %}雑作業コード登録{% endblock title %}

{% block main %}
    <form class="" id="f_cfsc2300" method="post">
        {% csrf_token %}
        <div class="card">
            <div class="form-inline">
                <div class="form-group form-group-seach">
                    <label for="txt_azworkcd" class="label-form-group mr-2" tabindex="3">雑作業コード <span
                            class="required">*</span></label>
                    {% include "includes/textbox.html" with class="form-control ml-5" id="txt_azworkcd" name="txt_azworkcd" tabIndex=4  MaxLength=3 width="120" Change="True" Title="必須入力・雑作業 Code" %}
                </div>
                {% include "includes/button.html" with name="action" id="cmd_search" class="btn btn-primary btn-search" tabIndex=5 htmlText='<i class="fa fa-search"></i> 検索' %}
            </div>
        </div>
        <div class="card">
            <div class="form-inline">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row pl-4">
                            <div class="col-6">
                                <label for="txt_azworknm" class="justify-content-start" tabindex="7">雑作業名称 <span
                                        class="required">*</span></label>
                            </div>
                            <div class="col-6">
                                {% include "includes/textbox.html" with class="form-control" id="txt_azworknm" name="txt_azworknm" tabIndex=8 MaxLength=25 Change="True" Title="必須入力" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-inline">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row pl-4">
                            <div class="col-6">
                                <label for="txt_itanka" class="justify-content-start" tabindex="9">単価 <span
                                        class="required">*</span></label>
                            </div>
                            <div class="col-6 pl-4">
                                {% include "includes/textbox.html" with class="form-control" id="txt_itanka" name="txt_itanka" tabIndex=10  MaxLength=11 Change="True" LostFocus="True" Title="必須入力" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-inline">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row pl-4">
                            <div class="col-6">
                                <label for="cmb_ataxkbn" class="justify-content-start" tabindex="11">課税区分</label>
                            </div>
                            <div class="col-6 pl-2">
                                {% include "includes/dropdownlist.html" with class="form-control ml-5" id="cmb_ataxkbn" name="cmb_ataxkbn" tabIndex=12  Change="True" Title="必須入力" width="100" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-inline">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row pl-4">
                            <div class="col-6">
                                <label for="txt_akaisu" class="justify-content-start" tabindex="13">回数表示 </label>
                            </div>
                            <div class="col-6 pl-2">
                                {% include "includes/textbox.html" with class="form-control" id="txt_akaisu" name="txt_akaisu" tabIndex=14  MaxLength=5 Change="True" Title="必須入力" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-inline justify-content-end">
                <div class="row btn-footer">
                    <div class="col-12 d-flex ">
                        {% include "includes/button.html" with name="action" id="cmd_entry" class="btn btn-primary " Text="登録" tabIndex=15 IsEnable=cmd_entry_enable %}
                        {% include "includes/button.html" with name="action" id="cmd_change" class="btn btn-primary" Text="変更" tabIndex=16 IsEnable=cmd_change_enable %}
                        {% include "includes/button.html" with name="action" id="cmd_delete" class="btn btn-primary" Text="削除" tabIndex=17 IsEnable=cmd_delete_enable %}
                        {% include "includes/button.html" with name="action" id="cmd_cancel" class="btn btn-primary" Text="取消" tabIndex=18 %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock main %}

{% block js %}

{% endblock js %}