/* your styles go here */

:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #eee;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 20px;
    margin-right: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #EBF0FC;
    border-radius: 20px;
    margin-right: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #D6E1FA;
}
* {
    font-family: 'Poppins';
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
    font-size: 1.7rem;
    color: var(--light-color);
}

a:hover {
    color: var(--light-color);
}
tr td {
color :#3E3E4C;
}
ul li {
    list-style: none;
    display: inline-block;
}

.container-full {
    left: 0px;
    top: 0.5px;
    background: #2D68EA;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 17px 11px;
    width: 248px;
    height: 70px;
}

h1 {
     font-size: 50px;
}

.logo a {
    width: 68px;
    height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.menu-header {
    display: flex;
    justify-content: flex-end;
    padding: 17px 20px;
    height: 70px;
    left: 0px;
    top: 0px;
    line-height: 35px;
}

.space {
    width: 20px;
    height: 0px;
    border: 1px solid #FFFFFF;
    transform: rotate(-90deg);
    margin: 16px 10px;
}

.menu-header .menu-out {
    margin-left: 10px;
}

.menu-header ul li {
    margin-left: 10px;
}

.navbar-about {
    position: relative;
    align-items: center;
    width: 100%;
    height: 70px;
    margin: 20px 0px;
}

.navbar-about ul li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #3E3E4C;
}

.navbar-about nav>ul>li {
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    width: 100%;
    height: 52px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.menu_secondary>li {
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    padding-left: 52px;
    gap: 12px;
    width: 248px;
    height: 52px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.navbar-about ul>li:hover .menu_secondary {
    transition-duration: 4s;
    transition-delay: 2s;
    display: block;
}
.navbar_item .arrow {
    display: inline-flex;
}

.navbar_item img {
    padding-right: 13px;
}

.navbar-about nav ul li:hover {
    background: #D6E1FA;
    position: relative;
}

.navbar-about nav ul li:hover .boder-sliderbar{
    display: block;
}

.navbar_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.narbar_left {
    display: flex;
    align-items: center;
}

.text_slidebar {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;

}

.menu_secondary{
    display: none;
    position: absolute;
    top: 0;
    left: 4px;
    z-index: 2;
    margin-left: 276px;
    max-height: 700px;
    overflow-y: auto;
    margin-top: -20px;
}

.title_content ul{
    display:flex;
    height: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
}
.title_content ul li a{
    color: #7A7A85!important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

#content{
    height: calc(100vh - 85px);
}
.row{
    height : 100%;
}

.content-items {
  height : 100%;
  background-color: #F5F5F5;
  padding: 0px 25px;
}

.space_title {
    width: 16px;
    height: 0px;
    border: 1px solid #7A7A85;
    transform: rotate(-60deg);
    margin: 16px 10px;
    font-size: 15px;
}

.content_header span{
    width: 213px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #0B0B1E;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
}

.search_about {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 16px;
    gap: 10px;
    height: 84px;
    background: #FFFFFF;
    border-radius: 12px;
 }
 .search_about h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #3E3E4C;
 }

 .search_item {
    justify-content: start;
    display: flex;
 }

 .search_input input {
    padding: 12px;
    gap: 10px;
    width: 240px;
    height: 44px;
    font-size:14px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
     margin-right: 10px;
 }

.content_button .btn-search{
    font-weight:500;
    padding: 12px 30px;
    width: 116px;
    height: 44px;
    background: #2D68EA;
    border-radius: 40px;
    padding-left: 56px;
}
.content_button img{
    position: absolute;
    left: 13.56%;
    right: 13.56%;
    top: 28.56%;
    bottom: 13.56%;
    padding-left: 15px;
}
.btn-search {
     font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
.content_button { position : relative;}
.content_control{
    margin-top: 20px;
    padding: 20px 16px;
    height: 100%;
    background: #FFFFFF;
    border-radius: 12px;
}
.content_control h3{
    font-weight: 400;
    font-size: 14px;
    line-height: 44px;
    color: #3E3E4C;
}
.content_control_about{
    width: 32%;
    justify-content: space-between;
    display: flex;
}
.content_control_about input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 296px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}
.btn-register{
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 30px;
    width: 88px;
    height: 44px;
    background: #2D68EA;
    border-radius: 40px;
    margin: 0px 8px;
    font-size:14px;
    font-weight: 500;
}

.inactive {
    background: #BBBBC3 !important;
    border: none;
    cursor: default;
}

.control_button {
    display: flex;
    justify-content:flex-end;
    width:100%;
}
.content_header_title {
   padding: 16px 0px;
}
.content_header_title ul {
    display: flex;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
}

.content_header_title ul li a{
    color: #7A7A85!important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}
.navbar_left {
    display: flex;
}

.input_small input{
    width: 120px;
}

.search_register {
    width: 34%;
}

.title_register{
 flex: 1.5;
}

.input_register{
    flex: 1;
}
.button_register {
  flex: 1;
}
.form_about{
    margin-top: 20px;
    padding: 20px 16px;
    gap: 16px;
    background: #FFFFFF;
    border-radius: 12px;
    width: 100%;
    height: 260px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form{
    display:flex;
    width :100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form_row {
    width: 650px;
}
.form_row  .form-control {
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;

}
.form_about .form .form_row .form_label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #29293D;
}
.form-select option{
    color: black;
}
.form-select {
   background: #2D68EA;
}
.form-select .select_item{
   font-size: 14px;
   padding:10px 20px;
}

.menu-header .menu-out {
    display: flex;
    justify-content: end;
}
.select_about{
    background:white;
}

.btn_test {
  width: 100px;
  padding: 23px 20px;
}

.demo1{
background:white;
width:100px;
}

.select_group{
    background: #2D68EA;
    width:100%;
}

.select_header{
    font-weight: 700;
    font-size:14px;
    background-color: #2D68EA;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: none;
    border:none;
    color: white;
}
.select_header:focus {
    width:100%;
    background: #2D68EA;
    font-weight: 700;
    font-size:14px;
    border: none;
    box-shadow: none;
    color: white;
    outline:none;
}

.mainErrLabel {
    width: 100%;
    color: Red;
    font-weight: bold;
    font-size: 20px;
}

.control_button {
    width: 100%;
}
.form-container input{
    font-size:14px;
}

.form_row .form_label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #29293D;
}


/*DuongBN*/
.width-80 {
    width: 100px !important;
}

.width-100 {
    width: 100px !important;
}

.width-160 {
    width: 160px !important;
}

.width-446 {
    width: 446px !important;
}

.width-460 {
    width: 460px !important;
}

.display-inline {
    display: inline !important;
}

.content_control_inline{
    justify-content: start;
    display: inline;
    margin-right: 25px;
}

.content_control_flex{
    justify-content: start;
    display: flex;
    margin-right: 10px;
}

.content_control_flex input {
    margin-right: 5px;
}

.background-readonly {
    background-color: #E9EAF2 !important;
}

.item_search_title {
    margin-right: 15px;
}

.form_calendar {
    height : 100%;
}

.calendar_table_row td{
    align-items: center;
    color: black;
    height: 64px;
    box-shadow: inset -1px -1px 0px #e0e0e0;
     text-align: center;
    font-size: 20px;
    border: 1px solid #e0e0e0;
    width: calc(100%/7);
}

.calendar_table_row td button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    margin: 0px auto;
    cursor: pointer;
    color: #3E3E4C;
    width: 100%;
    height: 100%;
    text-align: left;
}

.calendar_table_row td button div{
    text-align: center;
}

.btn-hover:hover {
    background-color: #7abaff !important;
}

.calendar_about {
    width:100%;
}

.calendar_alphabet td{
     background: #F1F2F6;
}

.form_calendar .control_button .btn-register{
    color:white;
}

/*start css*/

.card{
    margin-bottom: 30px;
    border: none;
    border-radius: 12px;
}
.form-inline {
    padding: 20px 16px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.form-horizontal,
.form-inline {
    padding: 20px 16px;
}
.form-horizontal .btn,
.form-inline .btn{
    background: #2D68EA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 30px;
    height: 44px;
    border-radius: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.required {
    color: #F23A46;
}
.form-inline input,
.form-horizontal input {
    height: 44px !important;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}

.form-inline select,
.form-horizontal select {
    height: 44px !important;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 0px 10px;
}

.btn-footer {
    float: right;
}
.btn-footer .btn{
    margin-left: 0.5rem;
}
.form-group {
    margin-bottom: 1.25rem;
}
.form-group label,
.form-group input,
.form-group select{
    color: #3E3E4C;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.form-group label,
.form-group>div {
    padding-left: 0;
    padding-right: 0;
}
.form-inline>div {
    padding-left: 0;
}

.fa-search{
    background-image : url(../images/search.svg);
    background-size: cover;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 10.7px;
}
/* Style buttons */
.form-inline .btn-search {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    cursor: pointer; /* Mouse pointer on hover */
    width: 116px;
}

/* Darker background on mouse-over */
form .btn:hover {
    background-color: RoyalBlue;
}
.form-group-seach {
    margin-right: 24px;
}
.form-horizontal select,
.form-inline select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url(../images/icon-dropdown.svg);
    background-repeat: no-repeat;
    background-position: bottom 50% right 14.67px;
}
ul.breadcrumb {
    padding: 0;
    list-style: none;
    background-color: transparent;
    margin-bottom: 12px;
}
ul.breadcrumb li {
    display: inline;
    color: #7A7A85;
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #7A7A85;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
.fs-14 {
    font-size: 16px;
}
/*end css*/

.row-no-margin{
    height: auto;
    width: 100%;
    margin: 0;
}

