{% load static %}
<div class="content_header_title">
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li><a href="#">ホーム</a></li>
                <div class="space_title"></div>
                <li><a href="#">コードテーブル登録系</a></li>
                <div class="space_title"></div>
                <li><a href="#">倉庫内蔵置場所コード登録</a></li>
            </ul>
        </div>
        <div class="col-md-12">
            <div class="content_header">
                <span>倉庫内蔵置場所コード登録</span>
            </div>
        </div>
    </div>
</div>