{% load static %}
{% load core_tags %}
<div class="content_header_title">
    <div class="row">
        {% if breadcumbs|length > 0 %}
        <div class="col-md-12">
            <ul class="breadcrumb">
                {% for br in breadcumbs %}
                <li><a href="{{br.url|name2url}}">{{br.title}}</a></li>
                {% if not forloop.last %}
                    <div class="space_title"></div>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-12">{% include "includes/lblMsg.html" %}</div>
        <div class="col-md-12">
            <div class="content_header">
                {% for br in breadcumbs %}
                {% if forloop.last %}
                    <span>{{ br.title }}</span>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>