{% load static %}
<header>
    <div class="container-full">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-sm-6">
          <div class="logo">
            <a href="#" class="logo">LOGO</a>
          </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-sm-6">
          <nav class="menu-header">
            <ul>
              <li><a href="#"><img src="{% static 'images/Vector.png' %}" alt=""></a></li>
              <li><a href="#">大井</a></li>
            </ul>
            <div class="space"></div>
            <ul class="menu-out">
              <li><a href="#">NameUSER</a></li>
              <li><a href="#"><img src="{% static 'images/back.png' %}" alt=""></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>