<!--navbar section start-->
{% load static %}
{% load core_tags %}
<div class="col-xl-2 col-lg-2 col-sm-6 pr-0">
    <div class="navbar-about">
        <nav>
            <ul>
                {% for k,v in sider_bar.items %}
                <li>
                    <div class="navbar_item">
                        <div class="narbar_left">
                            <div class="slider-icon">
                                <img src="{{v.icon}}" alt="#">
                            </div>
                            <div class="text_slidebar">
                                <span><a href="#">{{v.title}}</a></span>
                            </div>
                        </div>
                        <div class="nav-arrow">
                            <img class="arrow" src="{% static 'images/arrow.png' %}" alt="#">
                        </div>
                    </div>
                    <ul class="menu_secondary">
                        {% for s in v.sub_menu %}
                        <li><a href="{{s.url|name2url}}">{{s.title}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>